.nav-bar {
  width: 35%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: #fff;
  box-shadow: 0 2px 8px 0 rgb(200,200,200, .3);
  padding-right: 5%;
  padding-top: 30vh;
}

.nav-link {
  margin-top: 35px;
  font-family: 'Visby', sans-serif;
  font-size: 14pt;
}

.nav-link-active {
  font-family: 'Montserrat';
  letter-spacing: -2px;
  color: #53f3e3;
  font-size: 18pt;
}